{% extends 'Base/Base.html' %}
    {% block content %}
        <div class="container">
            <section class="jumbotron">
                <section class="main row">
                        <div class="col-xs-3 col-md-3 col-lg-3">
                            <div class="row-md-2" ><a href="VerDatosGener"> Volver  </a></div><hr>

                        </div>
                        <H2>Etapas</H2>
                        <div class="col-xs-7 col-md-6 col-lg-9">
                            {%for etapa in etapas %}
                            <div>
                                    <hr>
                                    {% if etapa %}
                                    <DIV>
                                        <div><span>Profesion: {{etapa.id_edicion}}</span></div>
                                        <div><span>Fecha: {{etapa.fecha}}</span></div>
                                        <div><span>Longitud: {{etapa.longitud}}</span></div>
                                        <div><span>Poblacion inicial: {{etapa.pob_inicial}}</span></div>
                                        <div><span>Poblacion final: {{etapa.pob_final}}</span></div>
                                        <div><span>punto de partida: {{etapa.pto_partida}}</span></div>
                                        <div><span>punto de llegada: {{etapa.pto_llegada}}</span><</div>
                                    </DIV>
                                    <SECTION>
                                        <button type="button" class="btn btn-primary btn-lg btn-block">EDITAR </button>
                                        <button type="button" class="btn btn-primary btn-lg btn-block">ELIMINAR </button>
                                    </SECTION>
                                    {% else %}
                                        <div><span>No tiene etapas </span></div>
                                    {% endif %}
                             </div>
                            {% endfor %}
                        </div>
                        <button type="button" class="btn btn-primary btn-lg btn-block">AÑADIR ETAPA </button>
                </section>
            </section>
        </div>
    {% endblock %}