{% extends 'Base/Base.html' %}
{% block content %}
<table class="table table-hover">
        <thead>
            <tr>
                <td>NOMBRE</td>
                <td>FECHA DE INSCRIPCION</td>
            </tr>
        </thead>

        <tbody>
            <div class="table-responsive">
            {% if inscripciones %}
               {% for ciclista in inscripciones %}
                <tr class="activate">
                    <td>{{ciclista.id_ciclista}}</td>
                    <td>{{ciclista.fecha_insc}}</td>
                </tr>
                 {% endfor%}
               {% else %}
                <h1>No se encuentran registros actualmente</h1>
            {%endif%}
            </div>
        </tbody>
    </table>
{% endblock %}