{% extends 'Base/Base.html'%}
{% block content %}
    {% if carreras %}
            <section CLASS="jumbotron">
                {% for carrera in carreras %}
                <div class = "container" >
                    <h1> {{ carrera.nombre_serie }} </h1>
                    <aside class = "container"></aside>
                    <aside class="container">
                        <div><SPAN>  {{carrera.descripcion}}</SPAN></div>
                    </aside>
                </div>
                {% endfor %}
            </section>

    {% endif %}
{% endblock%}