{% extends 'Base/Base.html'%}
{%block content%}
<section class="jumbotron" style="background-image : url(https://i.pinimg.com/originals/53/04/70/5304706e3108d7226a82ce812e67ced2.jpg);
	  		 		    background-repeat: no-repeat ; center center ; min-height : 700px;">
        <div class="container">
            <section class="main row">
            <div class="col-xs-7 col-md-6 col-lg-9">
                <h2 >carrera </h2>
                <form method="post">
                {% csrf_token %}
                    <div>
                        <label for="{form.nombre_serie.nombre_serie}"> {{form.nombre_serie.label}}</label>{{form.nombre_serie}}
                        <label for="{form.descripcion.descripcion}"> {{form.descripcion.label}}</label>{{form.descripcion}}
                    </div>
                    <button  class="btn btn-primary" type="submit">GUARDAR</BUTTON>
                </FORM>
            </DIV>
            </section>
        </DIV>
</SECTION>
{% endblock %}