{% extends 'Base/Base.html' %}
    {% block content %}
<section class="jumbotron" style="background-image : url(https://i.pinimg.com/originals/53/04/70/5304706e3108d7226a82ce812e67ced2.jpg);
	  		 		    background-repeat: no-repeat ,background-size=100%; center center ; min-height : 700px;background-attachment: fixed;">
    <div class="container-fluid" >
        <section CLASS="jumbotron" style="background-color:rgba(238, 238, 238, 0.8);">
            <div class="row">
                <div class="col-md-1">
                            <div class="row-md-2" ><a href="{% url 'DetalleCarrera' datos.id_serie_id %}"> Volver </a></div>
                            <hr>
                </div>
                <div class="col-md-3">

                        <div class="container">
                            <div><h1> Edicion {{ datos.ano_edicion}}</h1></div>
                            <div><h4>{{ datos.descripcion }}</h4></div>
                            <div><h4>Vigencia : {{ datos.vigente }} </h4></div>
                        </div>
                </div>
                <div class="col-md-8">
                     <DIV class="row">
                         <div class="col-md-8" align="center" ><h2>Etapas </h2></div>
                         <div class="col-md-2" >
                             <a class="btn btn-success btn-lg" href="{% url 'AgregarEtapas' %}">Añadir etapa </a>
                         </div>
                     </DIV>
                        <div class="col-md-9">
                            {% if lista %}
                                {%for etapa in lista %}
                                    <div>
                                    <hr>
                                        <h4>Etapa - {{etapa.fecha}}</h4>
                                        <div class="col-md-6">
                                            <div>
                                                <div><span>Fecha: {{etapa.fecha}}</span></div>
                                                <div><span>Longitud: {{etapa.longitud}}</span></div>
                                                <div><span>Poblacion inicial: {{etapa.pob_inicial}}</span></div>
                                                <div><span>Poblacion final: {{etapa.pob_final}}</span></div>
                                                <div><span>punto de partida: {{etapa.pto_partida}}</span></div>
                                                <div><span>punto de llegada: {{etapa.pto_llegada}}</span></div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="btn-group-vertical">
                                                <a class="btn btn-primary btn-md" href="{% url 'EditarEtapa' etapa.id %}">EDITAR</a>
                                                <a class="btn btn-warning btn-md"href="{% url 'EliminarEtapa' etapa.id %}">ELIMINAR</a></button>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                            <div><span>No tiene etapas </span></div>
                            {% endif %}
                        </div>

                </div>
            </div>
        </section>
    </div>
</section>
    {% endblock %}