{% extends 'Base/Base.html' %}
{% block content%}

    <div id="headerwrap" id="home" name="home">
			<header class="clearfix">
                <div style="background-image : url(http://4everstatic.com/imagenes/deporte/ciclismo/bicicleta-160616.jpg);
	  		 		    background-repeat: no-repeat ; center center ; min-height : 1200px">
                        <div class="container">
                            <br>
                            <br>
	  		 		        <h1>Principal</h1>
                            <h3>Bienvenido, aqui encontrar´as las carreras de ciclismo mas recientes.</h3>
	  		 		        <h3>By: Equipo 5 </h3>

                        </div>

                    </div>

	  		</header>
    </div><!-- /headerwrap -->
{% endblock %}