{% extends 'Base/Base.html' %}
{% block content %}
<div style="background-image : url(https://st2.depositphotos.com/4243339/11518/v/950/depositphotos_115184880-stock-illustration-seamless-pattern-with-cycling-attributes.jpg);
	  		 		    background-repeat: no-repeat ; center center ; min-height : 700px;">
<table class="table table-hover">
        <thead>
            <tr>
                <td>NOMBRE</td>
                <td>FECHA DE INSCRIPCION</td>
                <td>ACCIONES</td>
            </tr>
        </thead>

        <tbody>

            {% if object_list %}
               {% for ciclista in object_list %}
                <tr class="activate">
                    <td>{{ciclista.id_ciclista.nombre}}</td>
                    <td>{{ciclista.fecha_insc}}</td>
                    <td>
                        <a class="btn btn-primary" href="">Editar</a>
                        <a class="btn btn-primary" href="">Eliminar</a>
                    </td>
                </tr>
                 {% endfor%}
               {% else %}
                <h1>No se encuentran registros actualmente</h1>
            {%endif%}
        </tbody>
    </table>
</div>
{% endblock %}