{% extends 'Base/Base.html'%}
{% block content %}
    <!--<div id="container">
        <div class="search">
            <div class="searchbox">
                <label>Buscar una carrera:</label>
                <span class="info">(Puede ser el nombre o el id de la carrera)</span>
                <input id="search_input" type="text" name="q">
                {% csrf_token %}
            </div>
            <div class="results">
                <h1 class="error"></h1>
                <div class="wrapper"></div>
            </div>
        </div>
    </div>-->

            <section CLASS="jumbotron">
                <div class = "container" >
                    <form method="GET" action="{% url 'BuscarCarrera' %}">
                        <div>
                            <input type="text" name="nombre_carrera">
                            <input type="submit" value="buscar">
                        </div>
                    </form>
                </div>
       {% if carreras %}
                {% for carrera in carreras %}
                <div class = "container" >
                    <h1><a href="{% url 'DetalleCarrera' carrera.id %}"> {{ carrera.nombre_serie }} </a> </h1>
                    <aside class = "container"></aside>
                    <aside class="container">
                        <div><SPAN>  {{carrera.descripcion}}</SPAN></div>
                    </aside>
                </div>

                {% endfor %}
            </section>

    {% endif %}
{% endblock%}