{% extends 'Base/Base.html' %}
{% block content%}

    <div id="headerwrap" id="home" name="home" align="left" style="background-image : url(https://i.pinimg.com/originals/53/04/70/5304706e3108d7226a82ce812e67ced2.jpg);
	  		 		    background-repeat: no-repeat ; center center ; min-height : 700px;">
            <header class="clearfix" >
                <div style="background-image : url(http://www.fondox.net/wallpapers/acrobacias-con-bmx-3752.jpg);
	  		 		    background-repeat: no-repeat ; center center ; min-height : 700px;">

                    <div class="container" style="color: #000">
                            <div><br><br><br></div>
                            <div style="background-color:rgba(238, 238, 238, 0.3);">
                                <br>
                                <br>
                                <h1  style="line-height: 3;font-size: 70px;color: #184e0b">Gestion de carreras de ciclismo</h1>
                                <h2>Bienvenido, aqui encontraras las carreras de ciclismo mas recientes.
                                Tendras el poder de poder administrar este sitio desde esta interfaz.
                                </h2>
	  		 		            <h3>By: Equipo 5 </h3>
                            </div>
                        </div>

                </div>
	  		</header>
    </div><!-- /headerwrap -->
{% endblock %}