{% extends 'Base/Base.html'%}
{% block content %}
<section CLASS="jumbotron">
    <div class="container">
                <div class="container-fluid">
                    <div class="row">
                        <div class = "col-md-10" >
                            <form method="GET" action="{% url 'BuscarCarrera' %}">
                                <div class="col-md-10"><input class="form-control"type="text" name="nombre_carrera"></div>
                                <div class="col-md-2"><input class="btn btn-primary activate btn-lg" class="btn btn-primary" type="submit" value="BUSCAR"></div>
                            </form>
                        </div>
                        <div class="col-md-1">
                            <a class="btn btn-warning btn-lg" href="{% url 'AgregarCarrera' %}"> Nueva Carrera </a>
                        </div>
                    </div>
                </div>
    </div>
        {% if carreras %}

                <div class="container">

                    <div class="container">
                        <div class="col-md-9">
                        {% for carrera in carreras %}
                            <div class="col-md-4">
                                <img src="https://image.flaticon.com/icons/svg/17/17958.svg" class="img-responsive img-rounder" alt="">
                                <div class = "container" >
                                    <h2><a href="{% url 'DetalleCarrera' carrera.id %}"> {{ carrera.nombre_serie }} </a> </h2>
                                    <div class="container">
                                        <div class="row-md-2"><SPAN>  {{carrera.descripcion}}</SPAN></div>
                                        <br>
                                        <div  class="row-md-2">
                                            <a class="btn btn-primary btn-md" href="{% url 'EditarCarrera' carrera.id %}">EDITAR</a>
                                            <a class="btn btn-danger btn-md" href="{% url 'EliminarCarrera' carrera.id %}">ELIMINAR</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                        <div class="col-md-3">
                            Publicidad
                        </div>
                    </div>


                </div>
    {% endif %}
            </section>
{% endblock%}