{% extends 'Base/Base.html'  %}
  {% block content %}
        <section class="jumbotron">
            <div class="container">
                    <section CLASS="jumbotron">

                        <section class="main row">

                            <div class="col-xs-7 col-md-6 col-lg-9">
                                <h1> {{ datos.nombre_serie }} </h1>
                                <div >
                                    <h2>Detalle de Carrera </h2>
                                    <hr>
                                    <aside class="container">
                                      <div><SPAN> Codigo : {{ datos.id }}</SPAN></div>
                                      <div><SPAN>Apellidos y nombres: </SPAN>{{ datos.nombre_serie }}</div>
                                      <div><SPAN>DNI : </SPAN>{{ datos.descripcion }}</div>
                                    </aside>
                                </div>

                                <div>
                                    <h2>Ediciones </h2>
                                        {% if lista %}
                                            {% for edi in lista %}
                                                <div class="container">
                                                  <div><h3> Edicion {{ edi.ano_edicion}}</h3></div>
                                                  <div><SPAN>Descripcion: </SPAN>{{ edi.descripcion }}</div>
                                                  <div><SPAN>Vigencia : </SPAN>{{ edi.vigente }}</div>
                                                </div>
                                                  <aside>
                                                      <button  class="btn btn-primary" type="submit"><a href="VerInscritos">VER INSCRITOS</a></button>
                                                      <button  class="btn btn-primary" type="submit"><a href="VerEtapas">VER ETAPAS</a></button>
                                                      <button  class="btn btn-primary" type="submit"><a href="EditarEdicion">EDITAR</a></button>
                                                      <button  class="btn btn-primary" type="submit"><a href="EliminarEdicion">ELIMINAR</a></button>
                                                  </aside>
                                            {% endfor %}
                                        {% else %}
                                            <div><span>No tiene ediciones </span></div>
                                        {% endif%}
                                    <br>
                                    <DIV>
                                        <button  class="btn btn-primary btn-ln" type="submit">Añadir Edicion</button>
                                    </DIV>
                                </div>

                                <hr>

                            </div>
                        </section>
                    </section>
            </div>
        </section>


    {% endblock %}